.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
}

.controlColumn {
}

@media screen and (max-width: 600px) {
  .controlColumn {
    display: flex;
    overflow-x: auto;
    position: fixed;
    bottom: 30%;
    width: 100%;
  }
  .controlColumn > div {
    margin-right: 20px;
  }
}